@import '../../../../../styles/colors';
@import '../../../../../styles/breakpoints';

:root {
  --t-color: $gray-2;
}

[data-theme='dark'] {
  --t-color: #ffffff;
}

.discover-city-wrapper {
  margin: 24px 0;
  padding: 0 16px;

  @include respond-to('md') {
    @include container;
  }

  .discover-city-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .discover-city-title {
      margin: 0;
    }

    .view-all-btn {
      padding: 4px 0px;

      &:hover {
        background-color: transparent;
        color: $yellow-1-hover;
        text-decoration: underline;
      }
    }
  }

  .discover-city-carousel {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    margin-right: -16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    .circle-image-frame > p {
      margin: 8px 0 0 0;
      text-align: center;
      color: var(--t-color);
      font-weight: 500;
    }
  }

  .discover-city-carousel > div {
    scroll-snap-align: start;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      .circle-image-wrapper {
        border: 2px solid $yellow-1-hover;
      }

      p {
        text-decoration: underline;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: $white;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-300;
    border-radius: 9px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $gray-400;
  }

  ::-webkit-scrollbar-thumb:active {
    background: $gray-500;
  }
}
