@import '../../../../../styles/colors';
@import '../../../../../styles/breakpoints';

.special-offer-wrapper {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0 16px;

  @include respond-to('md') {
    @include container;
  }

  .special-offer-title {
    margin-bottom: 16px;
  }

  .special-offer-card {
    display: flex;
    justify-content: space-between;

    @include respond-to('md') {
      max-width: 380px;
    }

    .special-offer-content {
      width: 44%;

      .offer-card-title {
        margin-top: 11px;
        margin-bottom: 12px;
      }

      .offer-card-description {
        color: var(--t-color);
        margin: 0 0 24px;
      }
    }

    .special-offer-image {
      width: 40%;
    }
  }
}
