$black: #000;
$white: #fff;

$gray-1: #f2faff;
$gray-2: #343434;
$gray-3: #cacaca;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;

$beige-1: #ad9d87;

$yellow-1: #ff9800;
$yellow-1-hover: #d17d00;
$yellow-2: #ffcb7f;
$yellow-3: #fff4e4;
$yellow-4: #ffe8c6;
