@import '../../../../../styles/colors';
@import '../../../../../styles/breakpoints';

.offer-slider-wrapper {
  margin-bottom: calc(24px + 15px);

  @include respond-to('md') {
    @include container;
  }

  .slick-dots {
    bottom: -15px;

    li {
      margin: 0;
      width: 13px;
    }

    li.slick-active button {
      padding: 0;

      &:before {
        opacity: 1;
        color: $yellow-1;
      }
    }
  }

  .slick-slide {
    display: block;
    padding: 16px;
  }

  .city-offer-card {
    display: flex;
    justify-content: space-between;

    .offer-provider {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 12px;

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
      }

      .offer-provider-name {
        margin: 0;
        padding: 0;
        font-size: 10px;
        font-weight: 300;
      }
    }

    .offer-card-description {
      margin-bottom: 0;
      line-height: 20px;
    }

    .offer-card-button {
      margin-top: 16px;
    }

    .special-offer-image {
      position: relative;
      background-image: url('../../../../../assets/images/card-vector.svg');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      width: 45%;

      img {
        height: calc(100% + 28px);
        width: auto;
        position: absolute;
        right: 0;
        bottom: -16px;
      }
    }
  }
}
