@use './styles/fonts';
@use './styles/shadow';
@use './styles/breakpoints';
@import './styles/colors';

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --background-color: #fffcf8;
  --text-color: #000000;
}

[data-theme='dark'] {
  --background-color: #181818;
  --text-color: #ffffff;
}

body {
  margin: 0;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', Tahoma, sans-serif;
}

.navigate-button {
  background-color: #ffffff !important;
  font-size: 24px;
  width: 36px;
  height: 36px;
  color: $yellow-1;

  &:hover {
    background-color: $yellow-3 !important;
  }
}
